APP_ENV=production
DB_HOST=127.0.0.1
DB_NAME=change_me
DB_USER=change_me
DB_PASS=change_me
DB_TIMEZONE=+07:00
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_PRESENCE_PATH=ems_presence/live_visitors
FIREBASE_CHAT_ROOM_PATH=ems_live_chat/global_room/messages
FIREBASE_CHAT_MAX_MESSAGES=40
FIREBASE_MUSIC_QUEUE_PATH=ems_live_music/global_room/queue
FIREBASE_MUSIC_STATE_PATH=ems_live_music/global_room/state
FIREBASE_MUSIC_QUEUE_MAX_ITEMS=25
